
/*//////////////////////////////////////
	UNIVERSAL
//////////////////////////////////////*/

* {
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-weight: normal;
	text-decoration: none;
	box-sizing: border-box;
	font-family: Helvetica, Times, Times New Roman, serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 0;
	font-weight: normal;
}

img,
video {
	max-width: 100%;
}

input, button, select, submit {
	border: none;
}

/* ---- Float clearfix ---- */

.clearfix::after {
		content: " ";
		display: table;
		clear: both;	
}



/*//////////////////////////////////////
	TEXT TRANSFORM
//////////////////////////////////////*/

/*Uppercase*/
h1,
.random-wiki{
  text-transform: uppercase;
}

/*Lowercase*/



/*//////////////////////////////////////
	LETTER SPACING
//////////////////////////////////////*/



/*//////////////////////////////////////
	FONTS
//////////////////////////////////////*/

/*Verdana*/
h1,
.random-wiki {
  font-family: Verdana;
}



/*//////////////////////////////////////
	COLORS
//////////////////////////////////////*/


/*text white*/
h1,
h3,
.search-button,
.search-result{
  color: #ededed;
}

.random-wiki:hover {
  transition: background-color 0.5s ease;
  color: #ededed;
}

/*background white*/
.random-wiki{
  background-color: #ededed;
}

.search-button:hover {
  transition: background-color 0.5s ease;
  background-color: #ededed;
}

/*text blue*/
.random-wiki {
  color: #3a7891;
}

.search-button:hover {
  transition: background-color 0.5s ease;
  color: #3a7891;
}

/*background blue*/
.search-button {
  background-color: #3a7891;
}

.random-wiki:hover {
  transition: background-color 0.5s ease;
  background-color: #3a7891;
}


/*//////////////////////////////////////
	Site
//////////////////////////////////////*/

body {
  background-image: url("https://c2.staticflickr.com/2/1418/5102299410_0e7e7bbe2b_z.jpg");
  background-repeat;
  background-position: center;
}

.site-content {
  text-align: center;
  margin: 0 auto;
  max-width: 1200px;
}

h1 {
  padding: 200px 0 10px 0;
  font-size: 56px;
  text-shadow: -5px 0px 8px rgba(12, 12, 12, 1);;
}

.info-p {
  font-size: 22px;
  text-shadow: -5px 0px 8px rgba(12, 12, 12, 1);
}

.random-wiki {
  display: block;
  margin: 30px auto 20px auto;
  padding: 10px;
  font-size: 30px;
  width: 300px;
  -webkit-box-shadow: -11px 0px 24px 0px rgba(0,0,0,1);
  -moz-box-shadow: -11px 0px 24px 0px rgba(0,0,0,1);
  box-shadow: -11px 0px 24px 0px rgba(0,0,0,1);
}

.searchbar {
  margin-right: -6px;
  padding-left: 5px;
  height:30px;
  -webkit-box-shadow: -11px 0px 24px 0px rgba(0,0,0,1);
  -moz-box-shadow: -11px 0px 24px 0px rgba(0,0,0,1);
  box-shadow: -11px 0px 24px 0px rgba(0,0,0,1);
}

.search-button {
  height: 30px;
  padding: 0 6px;
  -webkit-box-shadow: -7px 0px 48px -6px rgba(0,0,0,1);
  -moz-box-shadow: -7px 0px 48px -6px rgba(0,0,0,1);
  box-shadow: -7px 0px 48px -6px rgba(0,0,0,1);
}

.search-list {
  margin-top: 20px;
}

.search-result {
  padding: 15px;
  -webkit-box-shadow: -11px 0px 24px 0px rgba(0,0,0,.5);
  -moz-box-shadow: -11px 0px 24px 0px rgba(0,0,0,.5);
  box-shadow: -11px 0px 24px 0px rgba(0,0,0,.5);
  margin: 20px 0;
}

.search-result:hover {
  -webkit-box-shadow: -11px 0px 24px 0px rgba(1,1,1,1);
  -moz-box-shadow: -11px 0px 24px 0px rgba(1,1,1,1);
  box-shadow: -11px 0px 24px 0px rgba(1,1,1,1);
}

.search-item,
.search-description {
  text-align: left;
  text-shadow: -5px 0px 8px rgba(12, 12, 12, 1);
}

.search-item {
  font-size: 28px;
  padding-bottom: 7px;
  border-bottom: 1px solid;
  margin-bottom: 15px;
}








